.header {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #0F051D;
}

.header .header_inner {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header_inner .logo {
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #FFFFFF;
}

.header .header_inner nav ul {
  display: flex;
  gap: 33.38px;
}

.header .header_inner nav ul li {
  list-style: none;
}

.header .header_inner nav ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}

.header .header_inner .header_inner_soc-link {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.header .header_inner .header_inner_soc-link li {
  list-style-type: none;
}

.header .header_inner .header_inner_soc-link li a {
  display: block;
}

.header .header_inner .header_inner_soc-link li a svg {
  width: 24px !important;
  height: 24px !important;
  display: flex;
}

.mobile-navigation {
  display: none;
}

.toggle {
  display: none;
}

@media screen and (max-width: 1100px) {
  .header .header_inner {
    width: 95%;
  }

  .header .header_inner .logo {
    font-size: 28px;
  }

  .header .header_inner nav ul {
    display: flex;
    gap: 28px;
  }

  .header .header_inner .header_inner_soc-link {
    gap: 15px;
  }
}

/* nav active */
@media screen and (max-width: 880px) {
  .header .header_inner {
    width: 100%;
    padding-right: 15px;
    padding-left: 16px;
  }

  .desk-navigation {
    display: none;
  }

  .mobile-navigation {
    position: absolute;
    top: -100px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    display: block;
    z-index: 9;
    transition: 0.1s linear;
  }

  .mobile-navigation.active {
    top: 0;
    opacity: 1 !important;
    visibility: visible !important;
  }

  .top_line {
    position: absolute;
    width: 100%;
    height: 4px;
    display: flex;
    background: linear-gradient(0.25turn, #2600FC, #FF00EA);
    margin-bottom: 20px;
  }

  .close_btn {
    position: absolute;
    right: 25px;
    top: 40px;
  }

  .mobile-navigation .nav-logo {
    margin: 30px 0 0 25px;
  }

  .mobile-navigation .list {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-inline: 25px;
    gap: 0 !important;
    flex-direction: column;
    display: block;
  }

  .mobile-navigation ul li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 251, 251, 0.1);
  }

  .mobile-navigation ul li a {
    padding-block: 11px;
    display: block;
    width: 100%;
  }

  .mob-social-link {
    margin-top: -29px !important;
    padding: 30px 26px;
    width: 100%;
    height: auto !important;
    display: flex;
    gap: 12px;
  }

  .mob-social-link li {
    width: 50px !important;
    height: 50px !important;
    border-radius: 3px;
    border: 2px solid #EFEFEF !important;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mob-social-link li a {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .mob-social-link li a svg {
    width: 25px !important;
    height: 24px !important;
  }

  .header_inner_soc-link {
    position: relative;
    position: absolute;
    right: 75px;
  }

  .toggle {
    margin-left: 30px;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .header .header_inner nav ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .mob-social-link li {
    width: 40px !important;
    height: 40px !important;
  }

  .mob-social-link li a svg {
    width: 18px !important;
    height: 18px !important;
  }
}

@media screen and (max-width: 414px) {
  .header .header_inner .logo {
    font-size: 24px;
  }
}
