<header>
  <app-header></app-header>
</header>

<main>
    <div class="main">
      <div class="cont">
        <app-herosec></app-herosec>
      </div>
    </div>
    <app-partnersec></app-partnersec>
    <app-collection id="collection"></app-collection>
    <app-chooseus id="choose"></app-chooseus>
    <app-rank></app-rank>
    <app-about id="about"></app-about>
    <app-nevermiss></app-nevermiss>
    <app-roadmap id="roadmap"></app-roadmap>
    <app-artists id="blog"></app-artists>
    <app-answered></app-answered>
    <app-minting></app-minting>
</main>

<footer>
  <app-footer></app-footer>
</footer>
