<header>
  <app-header></app-header>
</header>

<main>
    <div class="main">
      <div class="cont">
        <app-herosec></app-herosec>
      </div>
    </div>
    <app-partnersec></app-partnersec>
    <app-collection></app-collection>
    <app-chooseus></app-chooseus>
    <app-rank></app-rank>
    <app-about></app-about>
    <app-nevermiss></app-nevermiss>
    <app-roadmap></app-roadmap>
    <app-artists></app-artists>
    <app-answered></app-answered>
    <app-minting></app-minting>
</main>

<footer>
  <app-footer></app-footer>
</footer>
