<section class="collection">
    <div class="collection_inner cont">
        <h2 class="sec_title">Nfthub's <span>collection</span></h2>

        <div class="carousel_box">


            <section class="splide myslider" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                      <ul class="splide__list">
                          
                        <li class="splide__slide">
                            <div class="mycard">
                                <div class="card_img_box"> <img src="../../../images/cardimg1.png" loading="lazy" alt="card image"> </div>
                                <h3 class="card_title">#Metaverse</h3>
                                <p class="card_info">By TheSalvare</p>
                            </div>
                        </li>
                      
                        <li class="splide__slide">
                            <div class="mycard">
                                <div class="card_img_box"> <img src="../../../images/cardimg2.png" loading="lazy" alt="card image"> </div>
                                <h3 class="card_title">#Polly Doll</h3>
                                <p class="card_info">By TheNative</p>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="mycard">
                                <div class="card_img_box"> <img src="../../../images/cardimg3.png" loading="lazy" alt="card image"> </div>
                                <h3 class="card_title">#Alec Art</h3>
                                <p class="card_info">By GeorgZvic</p>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="mycard">
                                <div class="card_img_box"> <img src="../../../images/cardimg4.png" loading="lazy" alt="card image"> </div>
                                <h3 class="card_title">#Toxic Poeth</h3>
                                <p class="card_info">By YazoiLup</p>
                            </div>
                        </li>

                        <!-- new -->
                        <li class="splide__slide">
                            <div class="mycard">
                                <div class="card_img_box"> <img src="../../../images/cardimg1.png" loading="lazy" alt="card image"> </div>
                                <h3 class="card_title">#Metaverse</h3>
                                <p class="card_info">By TheSalvare</p>
                            </div>
                        </li>
                      
                        <li class="splide__slide">
                            <div class="mycard">
                                <div class="card_img_box"> <img src="../../../images/cardimg2.png" loading="lazy" alt="card image"> </div>
                                <h3 class="card_title">#Polly Doll</h3>
                                <p class="card_info">By TheNative</p>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="mycard">
                                <div class="card_img_box"> <img src="../../../images/cardimg3.png" loading="lazy" alt="card image"> </div>
                                <h3 class="card_title">#Alec Art</h3>
                                <p class="card_info">By GeorgZvic</p>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="mycard">
                                <div class="card_img_box"> <img src="../../../images/cardimg4.png" loading="lazy" alt="card image"> </div>
                                <h3 class="card_title">#Toxic Poeth</h3>
                                <p class="card_info">By YazoiLup</p>
                            </div>
                        </li>

                    </ul>
                    <div class="splide__arrows splide__arrows--ltr">
                        <button class="splide__arrow splide__arrow--prev" type="button" disabled="" aria-label="Previous slide" aria-controls="splide01-track">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" focusable="false"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg>
                        </button>
                        <button class="splide__arrow splide__arrow--next" type="button" disabled="" aria-label="Next slide" aria-controls="splide01-track">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" focusable="false"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg>
                        </button>
                    </div>

                </div>
            </section>
            
        </div>

        <a href="#" class="btn">View collection 
            <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_947)">
                <path d="M3.14014 5.05005V6.55005H12.5854L0.140137 18.9954L1.19482 20.05L13.6401 7.60474V17.05H15.1401V5.05005H3.14014Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_1_947">
                <rect width="24" height="25" fill="white" transform="matrix(1 0 0 -1 0.140137 25.05)"/>
                </clipPath>
                </defs>
            </svg>                    
        </a>
        

    </div>
</section>