<section class="answered">
    <div class="answered_inner cont">
        <h2 class="sec_title">Your questions, <span>answered!</span></h2>


        <div class="content">

            <div class="answer_box">

                <div class="box_inner">

                    <div class="linesection" (click)="list1Fn()">
                        <h2 class="line_title"><span>What is Nfthub's NFT Collection?</span>
                            <svg class="{{list1class}}" width="29" height="41" viewBox="0 0 29 41" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1_1370)"><path d="M19.9112 27.751L11.0723 15.251L12.3153 13.4932L19.9112 24.2354L27.507 13.4932L28.75 15.251L19.9112 27.751Z" fill="white"/></g><defs><clipPath id="clip0_1_1370"><rect width="28.2843" height="40" fill="white" transform="matrix(-1 0 0 1 28.75 0.250977)"/></clipPath></defs></svg>                                
                        </h2>
                        <div class="line_info" *ngIf="list1class == clas">
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.
                                <br><br>
                                Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.
                            </p>
                        </div>
                    </div>

                    <div class="linesection" (click)="list2Fn()">
                        <h2 class="line_title"><span>How we can buy and invest NFT?</span>
                            <svg class="{{list2class}}" width="29" height="41" viewBox="0 0 29 41" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1_1370)"><path d="M19.9112 27.751L11.0723 15.251L12.3153 13.4932L19.9112 24.2354L27.507 13.4932L28.75 15.251L19.9112 27.751Z" fill="white"/></g><defs><clipPath id="clip0_1_1370"><rect width="28.2843" height="40" fill="white" transform="matrix(-1 0 0 1 28.75 0.250977)"/></clipPath></defs></svg>                                
                        </h2>
                        <div class="line_info" *ngIf="list2class == clas">
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.
                                <br><br>
                                Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.
                            </p>
                        </div>
                    </div>

                    <div class="linesection" (click)="list3Fn()">
                        <h2 class="line_title"><span>Why we should choose Nerko's NFT?</span>
                            <svg class="{{list3class}}" width="29" height="41" viewBox="0 0 29 41" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1_1370)"><path d="M19.9112 27.751L11.0723 15.251L12.3153 13.4932L19.9112 24.2354L27.507 13.4932L28.75 15.251L19.9112 27.751Z" fill="white"/></g><defs><clipPath id="clip0_1_1370"><rect width="28.2843" height="40" fill="white" transform="matrix(-1 0 0 1 28.75 0.250977)"/></clipPath></defs></svg>                                
                        </h2>
                        <div class="line_info" *ngIf="list3class == clas">
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.
                                <br><br>
                                Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.
                            </p>
                        </div>
                    </div>

                    <div class="linesection" (click)="list4Fn()">
                        <h2 class="line_title"><span>Where we can buy and sell NFts?</span>
                            <svg class="{{list4class}}" width="29" height="41" viewBox="0 0 29 41" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1_1370)"><path d="M19.9112 27.751L11.0723 15.251L12.3153 13.4932L19.9112 24.2354L27.507 13.4932L28.75 15.251L19.9112 27.751Z" fill="white"/></g><defs><clipPath id="clip0_1_1370"><rect width="28.2843" height="40" fill="white" transform="matrix(-1 0 0 1 28.75 0.250977)"/></clipPath></defs></svg>                                
                        </h2>
                        <div class="line_info"  *ngIf="list4class == clas">
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.
                                <br><br>
                                Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.
                            </p>
                        </div>
                    </div>

                    <div class="linesection" (click)="list5Fn()">
                        <h2 class="line_title"><span>How secure is this token?</span>
                            <svg class="{{list5class}}" width="29" height="41" viewBox="0 0 29 41" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1_1370)"><path d="M19.9112 27.751L11.0723 15.251L12.3153 13.4932L19.9112 24.2354L27.507 13.4932L28.75 15.251L19.9112 27.751Z" fill="white"/></g><defs><clipPath id="clip0_1_1370"><rect width="28.2843" height="40" fill="white" transform="matrix(-1 0 0 1 28.75 0.250977)"/></clipPath></defs></svg>                                
                        </h2>
                        <div class="line_info"  *ngIf="list5class == clas">
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.
                                <br><br>
                                Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.
                            </p>
                        </div>
                    </div>

                    <div class="linesection">
                        <h2 class="line_title"><span>What is your contract address?</span></h2>
                    </div>
                    
                </div>
                
            </div>
            
        </div>


        <div class="bottom_arrew">
            <svg width="80" height="20" viewBox="0 0 80 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1_1390)"><path d="M1.61987 3.82812L14.4132 16.6215L27.2065 3.82812L39.9999 16.6215L52.7932 3.82812L65.5865 16.6215L78.3799 3.82812" stroke="url(#paint0_linear_1_1390)" stroke-width="4.26444"/></g><defs><linearGradient id="paint0_linear_1_1390" x1="1.61987" y1="10.2248" x2="78.3799" y2="10.2248" gradientUnits="userSpaceOnUse"><stop stop-color="#3754FB"/><stop offset="1" stop-color="#FC01FF"/></linearGradient><clipPath id="clip0_1_1390"><rect width="79.9583" height="19.19" fill="white" transform="translate(0.020752 0.629883)"/></clipPath></defs></svg>                
        </div>
        
        
    </div>
</section>