<section class="minting">
    <div class="bg_img">
        <img src="../../../images/end_bg_dark.png" alt="">
    </div>


    <div class="container">
        <h2 class="title">Let's start <span>minting</span></h2>
        <p>Invest and manage all your NFTs at one place.</p>
        <button class="btn"><span>Get started</span>
            <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1_1406)"><path d="M3.69995 5.40918V6.90918H13.1453L0.699951 19.3545L1.75464 20.4092L14.2 7.96387V17.4092H15.7V5.40918H3.69995Z" fill="white"/></g><defs><clipPath id="clip0_1_1406"><rect width="24" height="25" fill="white" transform="matrix(1 0 0 -1 0.699951 25.4092)"/></clipPath></defs></svg>                
        </button>
    </div>
    
    

</section>